<head>
  <style>
    .hide-header {
      display: none;
    }
  </style>
</head>
<div>
  詳細
  <h3><%= @location[0] %></h3>
  <p><%= @location[5] %></p>
  <p>住所：<%= @location[1] %></p>
  <p><%= @location[4] %></p>
  <p><%= @location[6] %></p>
</div>